@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --color-alto: #D9D9D9;
    --color-alto-50: #f7f7f7;
    --color-alto-100: #ededed;
    --color-alto-200: #d9d9d9;
    --color-alto-300: #c8c8c8;
    --color-alto-400: #adadad;
    --color-alto-500: #999999;
    --color-alto-600: #888888;
    --color-alto-700: #7b7b7b;
    --color-alto-800: #676767;
    --color-alto-900: #545454;
    --color-alto-950: #363636;

    --color-picton-blue: #2CB4F2;
    --color-picton-blue-50: #f0f9ff;
    --color-picton-blue-100: #e1f2fd;
    --color-picton-blue-200: #bce5fb;
    --color-picton-blue-300: #80d1f9;
    --color-picton-blue-400: #2cb4f2;
    --color-picton-blue-500: #14a2e3;
    --color-picton-blue-600: #0781c2;
    --color-picton-blue-700: #07679d;
    --color-picton-blue-800: #0a5782;
    --color-picton-blue-900: #0f486b;
    --color-picton-blue-950: #0a2f47;

}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
